* {
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
    padding: 10px;
    min-width: 300px;
    color: #fff;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    padding: 8px;
    margin: 5px 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 320px;
    }

    .badge {
        display: inline-block;
        padding: 2px 6px;
        margin-left: 6px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        color: white;
    }

    .badge.vod {
        background-color: rgb(168, 1, 168);
    }

    .badge.live {
        background-color: red;
    }

    button {
        color: #f1f2f3;
        padding: 6px 12px;
        background-color: #007BFF;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 10px;

        &:hover {
            background-color: #007bffb6;
        }
    }
}

#clear-btn {
    background-color: #dc3545;
    color: white;
    float: right;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 14px 0;
    transition: background-color 0.3s ease;
}

#clear-btn:hover {
    background-color: #c82333;
}